{% extends 'base.html' %}

{% block title %}
  {{block.super}} Index
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% for human in humans %}
      <div class="col-lg-3 col-md-6 col-12">
        <p class="text-center">{{human.name}}</p>
        <p class="text-center">{{human.age}}</p>
        <!-- <input type="button" class="btn btn-primary center" value="Подробнее"> -->
        <a href="{% url 'detail' pk=human.pk %}" class="btn btn-primary center">Подробнеe</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
